*.iml
.gradle
/local.properties
# Ignore most .idea files except for important shared ones
.idea/*
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/runConfigurations/
!.idea/.gitignore
.DS_Store
# Ignore all build directories (root and module-level)
build/
/captures
.externalNativeBuild
.cxx
local.properties
